.itemelements {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}
.tablehead {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  font-weight: bolder;
}
.indEle {
  text-align: center;
  justify-content: center;
  width: 33%;
}
.editbutton {
  background-color: rgba(114, 114, 202, 1);
  width: 80px;
  border-radius: 10px;
  cursor: pointer;
}
.editbutton:hover {
  background-color: rgba(114, 114, 202, 0.8);
}
